/* color 1 */

.bg-color-1 {
    background-color: #ff3562 !important;
  }
.bg-color-2 {
    color: whitesmoke !important;
}
.text-color-1 {
    color:#ff3562 !important;
}
.text-color-2 {
    color: whitesmoke !important;
}